*{
    box-sizing: border-box;
}

body h1{
    text-align: center;
}

.nav-title{
    text-align: center;
}

.img{
   height: auto;
   width: 500px; 
}
nav{
    text-align: center;
}

body a{
    text-decoration: none;
    color: black;
    padding: 10px;
    margin: 5px;
    border: 1px solid #000;
}

.img.main{
    height: auto;
    width: 1000px;
    display: block;
    margin: 0 auto;
}

